<h3>Add product</h3>

  <form [formGroup]="myForm" (ngSubmit)="onClickAdd()">
    <div>
      <label for="product_name">
        Product Name
      </label>
      <input id="product_name" type="text" formControlName="product_name" [(ngModel)]='product_name'>
    </div>

    <div>
      <label for="product_description">
        Product Description
      </label>
      <input id="product_description" type="text" formControlName="product_description" style="width: 25rem" [(ngModel)]='product_description'>
    </div>

    <button class="button" type="submit">Add</button>
  </form>
